
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';        
        var urlVerificaBeneficiario = '@Url.Action("ExisteBeneficiario", "Cliente", new { area = "" })';
        var urlVerificaCliente = '@Url.Action("ExisteCliente", "Cliente", new { area = "" })';

    </script>
    @Scripts.Render("~/bundles/clientes")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")